################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PicSort/v15
/packages
/PicSort/bin/Debug
/PicSort/obj/Debug
/PicSortConsole/bin/Debug
/PicSortConsole/obj/Debug
/PicSortLibrary/bin/Debug
/PicSortLibrary/obj/Debug
*.TMP
/PicSortTest/bin/Debug/ResultsPictures
/PicSortTest/bin/Debug/XmpCore.xml
/PicSortTest/bin/Debug/XmpCore.dll
/PicSortTest/bin/Debug/PicSortTest.pdb
/PicSortTest/bin/Debug/PicSortTest.dll
/PicSortTest/bin/Debug/PicSortLibrary.pdb
/PicSortTest/bin/Debug/PicSortLibrary.dll
/PicSortTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/PicSortTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/PicSortTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/PicSortTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/PicSortTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/PicSortTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/PicSortTest/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/PicSortTest/bin/Debug/MetadataExtractor.xml
/PicSortTest/bin/Debug/MetadataExtractor.dll
/PicSortTest/obj/Debug
/PicSortTest/PicSortTest.csproj.user
/PicSortTest/bin/Debug
